Repository ch55secake/whos-home, pull requests merged in 2025-04, with the labels that each got.

#9 fix: unique device count from ip address not hostname
  src/output/nmap_output.py
  tests/output/test_nmap_output.py
Labels: bug

#22 fix: bug when host discovery returns only one device found on the network
  src/data/scan_result.py
Labels: fix, chore

#26 feat: introduce debug logging with the use of a logger singleton
  src/executor/default_executor.py
  src/output/nmap_output.py
  src/parser/nmap_output_parser.py
  src/util/logger.py
  src/whos_home.py
Labels: feature

#27 fix: properly use timeout flag so that it can be adjusted for port scans
  src/whos_home.py
Labels: fix

#19 docs: update readme
  README.md
Labels: documentation

#29 feat: add typer output builder
  src/executor/default_executor.py
  src/output/nmap_output.py
  src/output/typer_output_builder.py
Labels: feature

#35 Fix/clean up port scanning
  .pre-commit-config.yaml
  src/data/command_result.py
  src/data/device.py
  src/data/executor_callback_events.py
  src/data/scan_result.py
  src/executor/default_executor.py
  src/executor/nmap_executor.py
  src/output/nmap_output.py
  src/output/typer_output_builder.py
  src/parser/nmap_output_parser.py
  src/util/nmap_command_builder.py
  src/util/progress_service.py
  src/whos_home.py
  tests/executor/test_default_executor.py
  tests/executor/test_nmap_executor.py
  tests/output/test_nmap_output.py
  tests/parser/test_nmap_output_parser.py
Labels: fix

#41 Feat/db
  .gitignore
  src/db/db_connector.py
  src/resources/schema.sql
Labels: feature

#42 chore: add build_binary script
  build_binary.py
  poetry.lock
  pyproject.toml
  src/executor/nmap_executor.py
  src/output/typer_output_builder.py
Labels: chore

#44 feat: improved output of port scan and added --extended-port-scan flag.
  .gitignore
  pyproject.toml
  run_sudo.sh
  src/executor/nmap_executor.py
  src/output/nmap_output.py
  src/util/nmap_command_builder.py
  src/whos_home.py
  tests/executor/test_nmap_executor.py
Labels: feature

#46 chore: properly handle timeout errors and pass the timeout to the executor only once
  src/executor/default_executor.py
  src/output/nmap_output.py
  src/whos_home.py
Labels: chore

#45 Feat/data classes for db
  src/data/nmapdevice.py
  src/data/scan_result.py
  src/db/data/device.py
  src/db/data/entity.py
  src/db/data/user.py
  src/db/db_connector.py
  src/db/service/device_service.py
  src/db/service/entity_service.py
  src/db/service/user_service.py
  src/output/nmap_output.py
  src/resources/schema.sql
  src/whos_home.py
  tests/output/test_nmap_output.py
Labels: feature

#47 feat: introduce scheduler
  poetry.lock
  pyproject.toml
  src/executor/default_executor.py
  src/output/nmap_output.py
  src/util/scheduler.py
  src/whos_home.py
Labels: feature
